.manage-products-wrapper {
  padding: 2rem 1.2rem;
  height: calc(100vh - (84px));
  flex-direction: column;
}

.big-container-teachings {
  width: 1300px;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 500px;
}

h3.manage-teachings-title {
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.product-manage-table {
  /* border: 1px solid; */
  width: 100%;
}

.table-row {
  display: flex;
}

.table-division {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -2px;
  padding: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  width: 65%;
  background: #fff;
}

.table-head {
  width: 80%;
  /* border: 1px solid; */
  text-align: left;

  padding: 1rem;
  font-weight: 700;
  border-right: 1px solid #fff;
  color: #fff;
  background: #cc0000;
}

.table-icon {
  cursor: pointer;
  color: #cc0000;
  font-size: 1.3em;
}

.table-icon:hover {
  cursor: pointer;
  color: #111;
  transition: 0.3s ease;
}

.text-height {
  line-height: 1.5;
  height: 145px;
  overflow: hidden;
}
.table-image {
  width: 100%;
  border: 5px solid #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  height: 160px;
  /* border-radius: 100%; */
  margin: auto;
  display: block;
}
